:root {
    --customColorDefault: #1abeff;
    --customColorDefaultMedium: #069ad4;
    --customColorDefaultHover: rgb(11, 121, 165);
    --customColorDefaultDark:#055474;
    --customColorDefaultLight: #a7daee;
    --customColorDefaultText: #03709b;
    --CustomHoverWhiteText: rgb(204, 204, 204);
    --CustomTextMuted: rgb(180, 180, 180);
    --CustomTextMutedHover: rgb(158, 158, 158);

    /* Agreements colors */
    --agreementB2B: rgb(221, 188, 240);
    --agreementZL: rgb(164, 186, 235);
    --agreement1: rgb(247, 204, 204);
    --agreement12: rgb(245, 241, 187);
    --agreement34: rgb(156, 235, 235);


    /* Action-types colors */
    --actionTypeZn: rgb(255, 188, 143);
    --actionTypeZi: rgb(172, 203, 245);
    --actionTypeZ: rgb(239, 184, 250);
    --actionTypeW: rgb(248, 241, 181);
  }

/* --- CSS for login page --- */

.login-panel-frame:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../public/images/construction-site-building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    z-index: -1;
}

.login-panel-frame .login-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 15px gray;
    background-color: white;
    padding-top: 3.5em;
}

.login-panel-frame .logo{
    height: 2.5em;
    top: 0;
    left: 0;
    cursor: default;
}

@media only screen and (max-width: 575px) {
    .login-panel-frame .login-box{
        width: 90%;        
    }
}

/* --- END CSS for login page --- */

.homePage{
    font-size: 1.2rem;
}

.homePage .btn-primary{
    background-color: var(--customColorDefaultMedium);
}

.homePage .btn-primary:hover, .homePage .btn-primary:active{
    background-color: var(--customColorDefaultHover);
}

textarea:focus, input:focus{
    outline: none;
}

input{
    border-radius: 0.2em;
    border: gray solid 1px;
    padding: 0.1em 0.3em;
}

input[type="date"], select, option{
    cursor: pointer;
}

select{
    padding: 0.1em 0.3em;
}

option{
    padding: 1rem;
}

input[type="date"]{
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: auto;
    cursor: pointer;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
}

div:has(> .coverLabelForDateInput), td:has(> .coverLabelForDateInput) {
    position: relative;
}

.coverLabelForDateInput{
    position: absolute;
    top: 0.1em;
    left: 18px;
    padding-top: 0.1em;
    /* padding-right: 20px; */
    /* width: fit-content; */
    padding-right: 0;
    width: calc(100% - 60px);
    background-color: white;
    text-align: left;
    cursor: pointer;
}

td .coverLabelForDateInput{
    position: absolute;
    top: 0.22em;
    left: 11px;
    padding-top: 0.1em;
    /* padding-right: 20px; */
    /* width: fit-content; */
    padding-right: 0;
    width: calc(100% - 40px);
    background-color: white;
    text-align: left;
    cursor: pointer;
}

.swal2-container td .coverLabelForDateInput{
    top: 0.6em;
}

table th, table td{
    padding: 2px 4px;
    min-width: 120px;
}

table.substitutions-table tr th:first-child, table.substitutions-table tr td:first-child{
    width: fit-content;
    max-width: 80px;
    min-width: unset;
    color: rgb(255, 115, 0);
 }

table thead{
    position: relative
}

table thead tr:first-child{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 5;
}

table td:has(input[type='date']){
    min-width: 180px;
    display: flex;
    align-items: center;
}

table td select{
    width: fit-content;
}

table tr:not(.fancySearchRow) td input, table tr:not(.fancySearchRow) td select, table tr:not(.fancySearchRow) td textarea{
    height: 2.2rem;
    display: flex;
    align-items: center;
    min-height: 38px;
}

table tr:nth-child(even){
    background: #E6E6E6
}

table tr:nth-child(odd){
    background: #FFF
}

.table-wrapper{
    max-width: 100%;
    overflow-x: auto;
    min-height: 360px;
    height: fit-content;
    max-height: calc(100vh - 200px);
}

.table-wrapper.swal-tabble-wrapper{
    min-height: 160px;
    max-height: calc(100vh - 200px);
}

.table-wrapper.swal-tabble-wrapper th{
    min-width: 140px;
}

table .td-action{
    color: var(--customColorDefaultMedium);
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    align-items: center;
    height: 100%;
}

table .td-action a{
    color: var(--customColorDefaultMedium);
}

table .td-action svg{
    padding-left: 0.4em;
    padding-right: 0.4em;
}

table .td-action, table .th-action{
    min-width: 80px;
    max-width: 100px;
}

table .td-action svg:hover, table .td-action svg:active{
    color: var(--customColorDefaultHover);
    cursor: pointer;
}

.swal-popup-with-table{
    width: 98%;
}

.add-substitution-row{
    background-color: var(--customColorDefaultLight) !important;
}

.fancySearchRow input{
    border: #e36105 solid 2px;
}

table td .react-select-custom > div:not([class$="-menu"]) input{
    border: none;
}

.substitutions-table .fancySearchRow th{
    padding-top: 1em !important;
}

.to-history-btn{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-select-custom{
    width: 220px;
}

.min-w-220, th.min-w-220{
    min-width: 220px;
}

.react-select-custom div[role="listbox"]{
    top: 0;
    width: 220px;
}

.react-select-custom div:has([role="listbox"]){
    width: 220px;
}

table td .react-select-custom > div:not([class$="-menu"]){
    border-radius: 0.2em;
    border: gray solid 1px;
    /* border: #ff50d9 solid 2px; */
    padding: 0.1em 0;
    height: 38px;
}

table td .react-select-custom > div:not([class$="-menu"]) div[class$='-IndicatorsContainer'] > div[class$='indicatorContainer']{
    padding: 2px;
}

table td .react-select-custom > div[class$="-menu"], table td .react-select-custom > div[class$="-menu"] > div, table td .react-select-custom > div[class$="-menu"] div[class$="-Group"]{
    margin: 0;
    padding: 0;
}

table td .react-select-custom > div[class$="-menu"] div[class$="-Group"] > div[class$="-group"]{
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
}

table td .react-select-custom > div[class$="-menu"], table td .react-select-custom > div[class$="-menu"] > div{
    height: fit-content;
    max-height: 240px;
}

table td .react-select-custom > div[class$="-menu"] > div > div > div >div{
    padding: 3px 10px;
    /* font-size: 0.9rem; */
}

table td .react-select-custom > div[class$="-menu"] div[class$="-Group"]:nth-child(1) > div:nth-child(1){
    background-color: #376b4b;
    /* font-size: 0.75em; */
}

table td .react-select-custom > div[class$="-menu"] div[class$="-Group"]:nth-child(1) > div:nth-child(2){
    background-color: #e1f3e8;
}

table td .react-select-custom > div[class$="-menu"] div[class$="-Group"]:nth-child(2) > div:nth-child(1){
    background-color: #53329b;
}

table td .react-select-custom > div[class$="-menu"] div[class$="-Group"]:nth-child(2) > div:nth-child(2){
    background-color: #e8e1f5;
}

table td .react-select-custom > div:not([class$="-menu"]) > div > div{
    height: calc(2.2rem - 8px);
    min-height: none;
    display: flex;
    align-items: center;
}

a.active:not(.dropdown-toggle){
    cursor: default;
}

.custom-accordion-class{
    width: calc(100vw - 3em);
}

.customTextColor{
    color: var(--customColorDefaultText);
}

.customTextColor:not(.noHover):hover{
    color: var(--customColorDefaultDark);
}

.noHover{
    cursor: default !important;
}

.customTextlight{
    color: rgb(138, 138, 138);
}

.customTextlight:hover{
    color: rgb(94, 94, 94);
    cursor: pointer;
}

.login-panel-frame .logo .customTextColor:hover{
    color: var(--customColorDefaultText);
}

.bg-secondary-light{
    background-color: rgb(206, 206, 206);
}

.new-line {
    white-space: pre-wrap;
}

input.invalid, select.invalid, textarea.invalid{
    border: red solid 2px;
}

.container-xxl{
    max-width: 2000px !important;
}

nav.navbar{
    background-color: var(--customColorDefaultDark);
    padding: 0;
    width: 100%;
}

nav.navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 5;
}

.homePage{
    max-height: 100vh;
}

.content-container{
    max-width: 100vw;
    width: fit-content;
    /* max-height: calc(100vh - 10rem);     */
    display: block;
    overflow: auto;
}

nav.navbar .nav-item{
    align-items: center;
    display: flex;
}

nav.navbar .nav-item .nav-link{
    color: white;
}

nav .dropdown-menu[data-bs-popper]{
    margin-top: -8%;
}

nav .dropdown-menu, nav .dropdown-menu li a, nav .dropdown-menu li a:focus{
    background-color: var(--customColorDefaultDark);
    color: white;
}

nav.navbar .nav-item .nav-link:hover, nav.navbar .nav-item .nav-link:active, nav .dropdown-menu li a:hover, nav .dropdown-menu li a:active, nav.navbar .nav-item .nav-link.active{
    color: var(--CustomHoverWhiteText);
}

nav .dropdown-menu li a:hover, nav .dropdown-menu li a:active{
    background-color: var(--customColorDefault);
    color: black;
}

nav.navbar .btn{
    color: white;
    font-size: 1.7rem;
}

nav.navbar .btn:hover{
    color: var(--CustomHoverWhiteText);
}

.customBgColor{
    background-color: var(--customColorDefault);
}

.username-container{
    font-size: smaller;
    float: right;
    padding-right: 1.5rem;
}

.username-container .svg-inline--fa {
    height: 0.8em;
}

nav .navbar-brand, nav .navbar-brand:hover, nav .navbar-brand:active, nav .navbar-brand:focus{
    color: var(--customColorDefault);
    font-weight: 500;
    cursor: default;
}

nav .navbar-toggler, nav .navbar-toggler:focus{
    font-size: smaller;
    border: white 2px solid;
    box-shadow: none;
}

nav .navbar-toggler:hover, nav .navbar-toggler:active{
    border: var(--CustomHoverWhiteText) 2px solid;
    box-shadow: none;
}

nav .navbar-toggler span{
    color: white;
}

.h-100vh{
    height: 100vh;
}

.logoutBtnContainer{
    padding-right: 1rem;
}

.logoutBtnContainer span{
    font-size: smaller;
}

.agreement-B2B{
    background-color: var(--agreementB2B);
}

.agreement-ZL{
    background-color: var(--agreementZL);
}

.agreement-1{
    background-color: var(--agreement1);
}

.agreement-12{
    background-color: var(--agreement12);
}

.agreement-34{
    background-color: var(--agreement34);
}

.action-type-zn{
    background-color: var(--actionTypeZn);
}

.action-type-zi{
    background-color: var(--actionTypeZi);
}

.action-type-z{
    background-color: var(--actionTypeZ);
}

.action-type-w{
    background-color: var(--actionTypeW);
}

.bg-white{
    background-color: white;
}

.swal-form, .swal-form form, .swal-form .row{
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.no-action, .no-action a, .no-action span, .no-action p{
    cursor: default !important;
}

.min-w-120{
    min-width: 120px;
}

.info-box-swal-popup h2{
    color: red;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

.info-box-swal-popup h4{
    color: red;
}

#infoBox{
    cursor: pointer;
}

.redirect-icon{
    font-size: smaller;
    cursor: pointer;
    color: var(--CustomTextMuted);
}

.redirect-icon:hover, .redirect-icon:active{
    color: var(--CustomTextMutedHover);
}

.font-smaller{
    font-size: smaller !important;
}

.accordion-button.collapsed{
    background-color: #dadada;
    box-shadow:  0 0 0 0.25rem rgba(114, 114, 114, 0.25);
}

/* --RESPONSIVE-- */

/* < lg */
@media only screen and (max-width: 991px) {

    nav.navbar{
        align-items: baseline;
    }

    nav.navbar > .container-fluid{
        justify-content: flex-start;
        width: fit-content;
        margin: 0;
        height: 100%;
        /* display: inline-block; */
    }

    .custom-accordion-class{
        width: calc(100vw - 1em);
    }

}


/* < md */
@media only screen and (max-width: 767px) {

    .logoutBtnContainer{
        padding-right: 0.5rem;
    }

}

/* < sm */
@media only screen and (max-width: 575px) {

    nav.navbar > .container-fluid{
        justify-content: center;
        width: 100%;
    }

    nav.navbar > .container-fluid .navbar-nav{
        padding-top: 0.5rem;;
    }

    nav.navbar > .container-fluid .nav-item{
        justify-content: center;
    }

    .logoutBtnContainer{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 0.1rem;
        margin-bottom: 0.3rem;
        padding-left: 0;
        font-size: medium;
    }

    .content-container{
        width: 100vw;
        display: block;
        overflow: auto;
    }
    
    .custom-accordion-class{
        width: calc(100vw - 0.2em);
    }

}

/* < 400px */
@media only screen and (max-width: 400px) {
    .to-history-btn{
        padding: 3px 7px;
    }

    .to-history-btn svg{
        display: none;
    }
}

/* > sm */
@media only screen and (min-width: 576px) {

    .position-sm-absolute{
        position: absolute !important;
    }

    .mb-sm-0{
        margin-bottom: 0 !important;
    }
}


/* > xl */
@media only screen and (min-width: 1200px) {

    nav.navbar .navbar-collapse{
        display: flex;
        justify-content: center;
    }

    nav.navbar .navbar-collapse ul{
        margin: 0 !important;
    }

    nav.navbar .nav-item{
        padding: 0 1rem;
    }

}
