:root {
    --customColorDefault: #ff7402;
    --customColorDefaultText: #a84c00;
  }

/* --- CSS for login page --- */

.login-panel-frame:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../public/images/construction-site-building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    z-index: -1;
}

.login-panel-frame .login-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 15px gray;
    background-color: white;
    padding-top: 3.5em;
}

.login-panel-frame .logo{
    height: 2.5em;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 575px) {
    .login-panel-frame .login-box{
        width: 90%;        
    }
}

/* --- END CSS for login page --- */

textarea:focus, input:focus{
    outline: none;
}

input{
    border-radius: 0.2em;
    border: gray solid 1px;
    padding: 0.1em 0.3em;
}

.customTextColor{
    color: var(--customColorDefaultText);
}

.customTextlight{
    color: rgb(138, 138, 138);
}

.customTextlight:hover{
    color: rgb(94, 94, 94);
    cursor: pointer;
}

.bg-secondary-light{
    background-color: rgb(206, 206, 206);
}

.new-line {
    white-space: pre-wrap;
}

input.invalid{
    border: red solid 2px;
}