:root {
    --customColorDefault: #1abeff;
    --customColorDefaultMedium: #069ad4;
    --customColorDefaultHover: rgb(11, 121, 165);
    --customColorDefaultDark:#055474;
    --customColorDefaultText: #03709b;
    --CustomHoverWhiteText: rgb(204, 204, 204);

    /* Agreements colors */
    --agreementB2B: rgb(221, 188, 240);
    --agreementZL: rgb(164, 186, 235);
    --agreement1: rgb(247, 204, 204);
    --agreement12: rgb(245, 241, 187);
    --agreement34: rgb(156, 235, 235);
  }

/* --- CSS for login page --- */

.login-panel-frame:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../public/images/construction-site-building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    z-index: -1;
}

.login-panel-frame .login-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 15px gray;
    background-color: white;
    padding-top: 3.5em;
}

.login-panel-frame .logo{
    height: 2.5em;
    top: 0;
    left: 0;
    cursor: default;
}

@media only screen and (max-width: 575px) {
    .login-panel-frame .login-box{
        width: 90%;        
    }
}

/* --- END CSS for login page --- */

.homePage{
    font-size: 1.2rem;
}

.homePage .btn-primary{
    background-color: var(--customColorDefaultMedium);
}

.homePage .btn-primary:hover, .homePage .btn-primary:active{
    background-color: var(--customColorDefaultHover);
}

textarea:focus, input:focus{
    outline: none;
}

input{
    border-radius: 0.2em;
    border: gray solid 1px;
    padding: 0.1em 0.3em;
}

input[type="date"], select, option{
    cursor: pointer;
}

input[type="date"]{
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: auto;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
}

a.active:not(.dropdown-toggle){
    cursor: default;
}

.customTextColor{
    color: var(--customColorDefaultText);
}

.customTextColor:not(.noHover):hover{
    color: var(--customColorDefaultDark);
}

.noHover{
    cursor: default !important;
}

.customTextlight{
    color: rgb(138, 138, 138);
}

.customTextlight:hover{
    color: rgb(94, 94, 94);
    cursor: pointer;
}

.login-panel-frame .logo .customTextColor:hover{
    color: var(--customColorDefaultText);
}

.bg-secondary-light{
    background-color: rgb(206, 206, 206);
}

.new-line {
    white-space: pre-wrap;
}

input.invalid{
    border: red solid 2px;
}

.container-xxl{
    max-width: 2000px !important;
}

nav.navbar{
    background-color: var(--customColorDefaultDark);
    padding: 0;
    width: 100%;
}

.content-container{
    width: 100vw;
    max-height: calc(100vh - 3.5rem);    
    display: block;
    overflow: auto;
}

nav.navbar .nav-item{
    align-items: center;
    display: flex;
}

nav.navbar .nav-item .nav-link{
    color: white;
}

nav .dropdown-menu[data-bs-popper]{
    margin-top: -8%;
}

nav .dropdown-menu, nav .dropdown-menu li a, nav .dropdown-menu li a:focus{
    background-color: var(--customColorDefaultDark);
    color: white;
}

nav.navbar .nav-item .nav-link:hover, nav.navbar .nav-item .nav-link:active, nav .dropdown-menu li a:hover, nav .dropdown-menu li a:active, nav.navbar .nav-item .nav-link.active{
    color: var(--CustomHoverWhiteText);
}

nav .dropdown-menu li a:hover, nav .dropdown-menu li a:active{
    background-color: var(--customColorDefault);
    color: black;
}

nav.navbar .btn{
    color: white;
    font-size: 1.7rem;
}

nav.navbar .btn:hover{
    color: var(--CustomHoverWhiteText);
}

.customBgColor{
    background-color: var(--customColorDefault);
}

.username-container{
    font-size: smaller;
    float: right;
    padding-right: 1.5rem;
}

.username-container .svg-inline--fa {
    height: 0.8em;
}

nav .navbar-brand, nav .navbar-brand:hover, nav .navbar-brand:active, nav .navbar-brand:focus{
    color: var(--customColorDefault);
    font-weight: 500;
    cursor: default;
}

nav .navbar-toggler, nav .navbar-toggler:focus{
    font-size: smaller;
    border: white 2px solid;
    box-shadow: none;
}

nav .navbar-toggler:hover, nav .navbar-toggler:active{
    border: var(--CustomHoverWhiteText) 2px solid;
    box-shadow: none;
}

nav .navbar-toggler span{
    color: white;
}

.h-100vh{
    height: 100vh;
}

.logoutBtnContainer{
    padding-right: 1rem;
}

.logoutBtnContainer span{
    font-size: smaller;
}

.agreement-B2B{
    background-color: var(--agreementB2B);
}

.agreement-ZL{
    background-color: var(--agreementZL);
}

.agreement-1{
    background-color: var(--agreement1);
}

.agreement-12{
    background-color: var(--agreement12);
}

.agreement-34{
    background-color: var(--agreement34);
}

.bg-white{
    background-color: white;
}

.swal-form, .swal-form form, .swal-form .row{
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

/* --RESPONSIVE-- */

/* < lg */
@media only screen and (max-width: 991px) {

    nav.navbar{
        align-items: baseline;
    }

    nav.navbar > .container-fluid{
        justify-content: flex-start;
        width: fit-content;
        margin: 0;
        height: 100%;
        /* display: inline-block; */
    }

}


/* < md */
@media only screen and (max-width: 767px) {

    .logoutBtnContainer{
        padding-right: 0.5rem;
    }

}

/* < sm */
@media only screen and (max-width: 575px) {

    nav.navbar > .container-fluid{
        justify-content: center;
        width: 100%;
    }

    nav.navbar > .container-fluid .navbar-nav{
        padding-top: 0.5rem;;
    }

    nav.navbar > .container-fluid .nav-item{
        justify-content: center;
    }

    .logoutBtnContainer{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 0.1rem;
        margin-bottom: 0.3rem;
        padding-left: 0;
        font-size: medium;
    }

    .content-container{
        width: 100vw;
        max-height: calc(100vh - 7rem);    
        display: block;
        overflow: auto;
    }
    


}


/* > xl */
@media only screen and (min-width: 1200px) {

    nav.navbar .navbar-collapse{
        display: flex;
        justify-content: center;
    }

    nav.navbar .navbar-collapse ul{
        margin: 0 !important;
    }

    nav.navbar .nav-item{
        padding: 0 1rem;
    }

}
